// Bootstrap Variable Customization


// Brand Colors
// -------------------------
// $brand-primary:         #428bca;
$brand-success:         #5cb85c;
$brand-warning:         #f0ad4e;
$brand-danger:          #d9534f;
// $brand-info:            #5bc0de;
$brand-primary: #886679;
$brand-info: #5ba0ae;

// Scaffolding
// -------------------------
$deep-text-color: #13136b;
$link-color: lighten($deep-text-color,15%);
$link-hover-color: $deep-text-color;
$text-color: #000;
$body-bg: #EDF2C3;

// Typography
// -------------------------
$font-family-serif: Garamond, "GaramondNo8", Palatino, Baskerville, "Baskerville Old Face", "Hoefler Text", Times, "Times New Roman", serif;
$font-family-sans-serif: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
// $font-family-base: $font-family-serif;


$btn-font-weight: bold;

$btn-default-bg: $body-bg;

$btn-default-border: darken($btn-default-bg, 45%);
$btn-info-border: darken($brand-info, 15%);
$btn-primary-border: darken($brand-primary, 15%);
$btn-success-border: darken($brand-success, 15%);
$btn-warning-border: darken($brand-warning, 15%);
$btn-danger-border: darken($brand-danger, 15%);
$btn-default-color: $deep-text-color;

$btn-info-color: $deep-text-color;
$btn-primary-color: $deep-text-color;
$btn-success-color: $deep-text-color;
$btn-warning-color: $deep-text-color;

$input-border-focus:lighten($deep-text-color, 40%);

$screen-lg-min: 10000px;
$screen-md-min: 10000px;
@import 'bootstrap';

body {
  text-rendering: optimizeLegibility;
  padding: 70px 0;
}
#container {
  @extend .container;
  // max-width: 900px;
}
#logo {
  opacity: 0.6;
  size: 39px 81px;
  @extend .hidden-xs;
}
#main {
  // @extend .row;
//   @extend .col-xs-9;
//   @extend .col-xs-offset-3;
}
#entry {
  @extend .col-xs-12;
  // @extend .col-xs-offset-1;
  text-align: center;
  // font-size: 1.3em;
}
#hint {
  // @extend .col-xs-4;
  min-width: 168px;
  height: 12em;
  overflow: auto;
  float: right;
}
.primary {
  /*font-family: STFangsong, STKaiti;*/
  font-size: 1.6*$font-size-h1;
}
.zh_text {
  /*font-family: "LiSong Pro", STSong;*/
  font-size: 24px;
}
.main-col {
  @extend .col-xs-12;
  // @extend .col-xs-offset-2;
  text-align: center;
}
.dual-pinyin {
  @extend .col-sm-4;
  @extend .col-sm-offset-4;
  text-align: center;
  font-family: $font-family-serif;
  padding: 0;
}
abbr {
  position: relative;
}
#gcr-info-link {
  padding-left: 5px;
  display: block;
  position: absolute;
  // left: 100%;
  right: -22px;
  top: 0;
  // min-width: 1px;
}
.popover {
  width: 300px;
}
.popover-title {
  background-color: lighten($brand-warning,10%);
}
.popover-content {
  font-family: $font-family-base;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  background-color: lighten($body-bg,5%);
}
#previous {
  z-index:20;
}
#previous-box {
  z-index: 10;
}
#display {
  z-index: 0;
}
#display i {
  color: $link-color;
}
#display i:hover {
  color: $link-hover-color;
}
#alt-char {
  @extend .col-sm-2;
  @extend .pull-right;
  clear: right;
}
#assess {
  clear: left;
    @extend .row;
    left: ($grid-gutter-width / 2);
  // @extend .col-xs-offset-3;
}
#assess .button-holder {
  @extend .col-xs-6;
  // display: inline-block;
  // width: auto;
}
.button-holder button {
  width: 100%;
}
#settings {
  // clear: both;
  position: relative;
}
#settings > div {
  position: relative;
  float: left;
  clear: left;
}
.invisible {
  visibility: hidden;
}
.latent {
  display: none;
}
.button-holder {
  display: inline-block;
}
div.bordered {
  // border: 2px solid #11\1836;
  // padding: 2px;
  // margin: 2px;
  // border-radius: 5px;
  /*background-color: #DDC4A3*/
}
button {
  @extend .btn;
  @extend .btn-default;
}
select {
  @extend .form-control;
  @extend .item-select;
  background-color: $body-bg;
}

.song-trad {
  font-family: "LiSong Pro", "Batang";
}
.song-simp {
  font-family: "STSong", "Adobe Song Std L";
}
.fangsong-trad {
  font-family: "STFangsong", "Adobe Fangsong Std R";
}
.fangsong-simp {
  font-family: "STFangsong", "FangSong";
}
.kaiti-trad {
  font-family: "BiauKai", "DFKai-SB";
}
.kaiti-simp {
  font-family: "STKaiti", "KaiTi";
}
.heiti-trad {
  font-family: "Heiti TC","LiHei Pro", "Microsoft JhengHei";
}
.heiti-simp {
  font-family: "STHeiti", "SimHei";
}
.calligraphic-trad {
  font-family: "DFNewChuan-B5";
}
.calligraphic-simp {
  font-family: "STXingkai";
}

@font-face {
  font-family: Kaiti;
  src: url("/assets/fonts/KaiTi.ttf");
}
@media screen and (max-device-width: 1024px) {
  .key-shortcut, #font_selector {
    display:none;
  }
  #entry, #alt-char {
    font-family: Kaiti;
  }
  .button-holder {
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 843px){
  #hint {
    height: 4em;
  }
}
@media screen and (max-width: 568px){
  .button-holder button {
    // padding: 6px 0;
  }
  #assess .button-holder {
    padding-left: 5px;
    padding-right: 5px;
  }
  #gcr-info-link {
    display: none;
  }
}
